.App {
    border: 1px solid #dadde1;
    padding: 15px;
    margin: 20px auto;
    border-radius: 10px;
    max-width: 600px;
  }
  h1 {
    color: rgb(2, 2, 90);
    font-size: 40px;
    font-family: Georgia, "Times New Roman", Times, serif;
    margin-bottom: 5px;
  }
   h3 {
    color: rgb(81, 81, 129);
    text-align: center;
    font-size: 36px;
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  .temp {
    font-size: 30px;
    color: rgb(81, 81, 129);
  }
 
  ul {
    margin: 0 30px;
    padding: 0;
  }
  .description-weather {
    margin-top: 48px;
  }
  li {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 100;
    line-height: 19px;
  }
  .icon{
      display: inline;
      margin-right: 5px;
margin-top: -10px;
      height: 64px;
    width: 64px;
  }
  .icon-forecast {
    height: 56px;
    width: 56px;
  }
   
  .units {
    position: relative;
    font-size: 16px;
    top: -16px;
  }
  .forecast-units {
    position: relative;
    font-size: 10px;
    top: -6px;
  }
  .active {
    color: black;
    cursor: default;
    text-decoration: none;
  }
    .input {
    padding: 10px 20px;
    margin: 10px 20px;
  }
  .input-city {
    width: 300px;
    height: 34px;
    border: 1px solid rgb(2, 2, 65);
    border-radius: 5px;
    margin: 20px 20px;
  }
  
  .search {
    color: white;
    background: rgb(2, 2, 65);
    border: 1px solid rgb(2, 2, 65);
    border-radius: 15px;
    padding: 5px 20px;
    margin: 20px 20px;
  }
    
  .forecast {
    margin-top: 20px;
    text-align: center;
  }
  .temp-max {
    color: black;
    font-size: 12px;
  }
  .temp-min {
  color: darkgrey;
  font-size: 12px;
  }